{% extends "layouts/base-site.html" %}

{% block title %} || विज्ञापन देखें {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-content-container container-fluid px-4">

            <div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
                <div class="page-header row no-gutters py-4">
                  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <!-- <span class="text-uppercase page-subtitle">Components</span> -->
                    <h3 class="page-title">विज्ञापन देखें</h3>
                  </div>
                </div>
                <!-- End Page Header -->
                <div class="row">
                {% for i in ad %}
                
              
                  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card card-small card-post card-post--1">
                    <div class="card-post__image" style="background-image: url('/static/assets/img/content-management/wheat.jpg');">
                        <a href="#" class="card-post__category badge badge-pill badge-dark">किसान </a>
                        <div class="card-post__author d-flex-inline">
                          <a class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/static/assets/img/avatars/0.jpg');">Written by Anna Kunis</a>
                        </div>
                      </div>
                      <div class="card-body">
                        
                        <h5 class="card-title">
                          <a class="text-fiord-blue" href="#" style="color:blue;font-weight: bolder;font-size: larger;">{{i.item_name}}</a>
                        </h5>
                        <p class="card-text d-inline-block mb-3">
                         <ul style="color:darkgreen;font-weight: bolder;">
                         <li> Username :- {{i.user}}</li>
                        
                         <li> Details :- {{i.description}}</li>
                         <li> Quantity (in kg) :- {{i.quantity}}</li>
                         <li> Cost per kg :- {{i.cost}}rs</li>
                         <li> Status :- {{i.status}}</li>
                         <li> Category :- For {{i.category}}</li>
                       
                        </ul>
                         
                          
                      </div>
                    </div>
                  </div>
                

                 

                  
               
                
               {% endfor %}
                
              </div>
    
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
