{% extends "layouts/base-site.html" %}

{% block title %} || शिकायत दर्ज करें {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div align="center">      <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <!-- <div class="page-header row no-gutters py-4 mb-3 border-bottom"> -->
          <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
          </div>
        <!-- </div> -->
        <!-- End Page Header -->
        </br>
      </br>
        <h3 class="page-title">शिकायत दर्ज करें</h3>
        <div class="col-lg-4 mb-4">
            <!-- / Sliders & Progress Bars -->
            <!-- Input & Button Groups -->
            <div class="card">
              <!-- <div class="card-header border-bottom">
                <h6 class="m-0"></h6>
              </div> -->
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <form>
                    <!-- Button Groups -->
                    
                    <!-- / Button Groups -->
                    <!-- Input Groups -->
                    <!-- <strong class="text-muted d-block mb-2">Input Groups</strong> -->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <input type="text" class="form-control" placeholder="यूजरनाम" aria-label="Username" aria-describedby="basic-addon1"> </div>
                    
                    <div class="input-group mb-3">
                      <!-- <div class="input-group-prepend">
                        <span class="input-group-text">किसान/आपूर्तिकर्ता?</span>
                      </div>
                      <input type="text" class="form-control" aria-label=""> -->
                      <!-- <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                      </div> -->
                    </div>
                    <!-- Input Groups -->
                    <!-- Seamless Input Groups -->
                    <strong class="text-muted d-block mb-2">किसान/आपूर्तिकर्ता?</strong>
                    <div class="input-group mb-3">
                      <div class="input-group input-group-seamless">
                        <!-- <span class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">person</i>
                          </span> -->
                        </span>
                        <input type="text" class="form-control" id="form1-username" placeholder="आप क्या हैं? किसान/आपूर्तिकर्ता ?"> </div>
                    </div>
                    <strong class="text-muted d-block mb-2">समस्या का विवरण </strong>
                    <div class="input-group mb-3">
                      <div class="input-group input-group-seamless">
                        <!-- <span class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">person</i>
                          </span> -->
                        </span>
                        <input type="text" class="form-control" id="form1-username" placeholder="हम आपकी कैसे सहायता कर सकते हैं "> </div>
                    </div>
                    <strong class="text-muted d-block mb-2">फ़ोन नंबर</strong>
                    <div class="input-group mb-3">
                      <div class="input-group input-group-seamless">
                        <!-- <span class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">person</i>
                          </span> -->
                        </span>
                        <input type="text" class="form-control" id="form1-username"> </div>
                    </div>
                    <!-- <div class="input-group mb-3">
                      <div class="input-group input-group-seamless">
                        <input type="password" class="form-control" id="form2-password" placeholder="Password" value="mySuperSecretPa$$word">
                        <span class="input-group-append">
                          <span class="input-group-text">
                            <i class="material-icons">lock</i>
                          </span>
                        </span>
                      </div>
                    </div> -->
                    <!-- / Seamless Input Groups -->
                    <!-- Input/Button Group -->
                    <div class="input-group mb-3">
                      <!-- <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
                      <div class="input-group-append" align="center">
                        <button class="btn btn-primary" type="submit">शिकायत दर्ज करें</button>
                      </div>
                    </div>
                    <!-- / Input/Button Group -->
                    <!-- Input/Button Group -->
                    <!-- <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <button class="btn btn-white" type="button">Button</button>
                      </div>
                      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2"> </div> -->
                    <!-- / Input/Button Group -->
                  </form>
                </li>
              </ul>
            </div>
            <!-- / Input & Button Groups -->
          </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
